<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="INSTANCE_ID" value="127.0.0.1"/>

    <property name="BIZ_LOG"
              value="%d{HH:mm:ss.SSS} [${INSTANCE_ID},%X{spanId},%X{traceId}] %-5level %-36.36logger{36} %msg%n"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${BIZ_LOG}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>

</configuration>