<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="SPRING_APPLICATION_NAME" scope="context" source="spring.application.name"
                    defaultValue="localhost"/>
    <springProperty name="MAX_HISTORY" source="spring.logback.max.history" defaultValue="3"/>
    <springProperty name="LOG_HOME_DIR" source="spring.logback.log.dir"
                    defaultValue="/opt/${SPRING_APPLICATION_NAME}/logs"/>
    <springProperty name="LOCALHOST_IP" source="spring.localhost.ip-address" defaultValue="127.0.0.1"/>

    <property name="LOG_HOME" value="${LOG_HOME_DIR}"/>
    <property name="LOG_HISTORY_HOME" value="${LOG_HOME}/history"/>
    <property name="BIZ_LOG" value="%d{HH:mm:ss.SSS} [${LOCALHOST_IP},%X{spanId},%X{traceId}] %-5level %-32.32logger{32} %X{CURRENT_METHOD_NAME} %msg%n"/>

    <springProfile name="test">
        <!--业务日志-->
        <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME}/info.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_HISTORY_HOME}/info%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>${MAX_HISTORY}</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${BIZ_LOG}</pattern>
            </encoder>
            <filter>
                <value>DEFAULT</value>
            </filter>
        </appender>

        <!--任务执行日志-->
        <appender name="taskAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME}/task.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_HISTORY_HOME}/task%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>${MAX_HISTORY}</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${BIZ_LOG}</pattern>
            </encoder>
            <filter>
                <value>ASYNC</value>
            </filter>
        </appender>

        <!--定时执行日志-->
        <appender name="scheduledAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME}/scheduled.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_HISTORY_HOME}/scheduled%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>${MAX_HISTORY}</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${BIZ_LOG}</pattern>
            </encoder>
            <filter>
                <value>SCHEDULED</value>
            </filter>
        </appender>

        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${BIZ_LOG}</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="consoleAppender"/>
            <appender-ref ref="infoAppender"/>
            <appender-ref ref="taskAppender"/>
            <appender-ref ref="scheduledAppender"/>
        </root>
    </springProfile>
</configuration>
